:host {
  .rt {
    ion-text {
      display: block;
    }
    &__title {
      margin-top: 8px;
      color: var(--ion-color-uxprimary);
    }

    &__subtitle {
      margin-top: 24px;
      color: var(--ion-color-uxprimary);
    }

    &__paragraph {
      &.first {
        margin-top: 24px;
      }
      white-space: pre-wrap;
      color: var(--ion-color-light-contrast);
    }
  }
}
