:host {
  .fbdi {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    &__left {
      display: flex;
      .color {
        width: 16px;
        height: 16px;
        border-radius: 50%;
      }
      .ca {
        margin-left: 8px;
        min-width: 50px;
      }
      .amount {
        margin-left: 15px;
      }
    }
  }
}
