:host {
  .rw {
    --ion-background-color: var(--ion-color-uxprimary-contrast);

    background: var(--ion-color-uxprimary-contrast);

    &__img-container {
      margin-top: 36px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__img {
        width: 58%;
        max-width: 300px;
      }
    }

    &__title {
      margin-top: 45px;
    }

    &__list {
      &__item {
        --padding-start: 0;

        margin-top: 10px;

        &__text {
          color: var(--ion-color-uxdark);
          font-size: var(--ux-fsize-16);
        }
      }
    }

    &__footer {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }
  }

  .last {
    margin-top: 10px;

    --border-color: transparent;
    --background-hover: transparent;
    --background-activated: transparent;
    --padding-start: 5px;

    color: var(--ion-color-uxsemidark);
  }

  ion-checkbox {
    --border-radius: 15%;
    --border-width: 2px;
    --border-style: solid;
    --border-color: var(--ion-color-infoligt);
    --background: var(--ion-color-uxlight);
    --size: 18px;

    color: var(--ion-color-info);
  }
}
