:host {
  .type-toggle {
    color: white;
  }

  .total_title {
    font-weight: var(--ux-fweight-semibold);
  }

  .eye-button {
    margin-left: 5px;
    vertical-align: middle;
    font-size: medium;
  }

  .fl {
    &__total {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: var(--ion-color-uxprimary);
      color: var(--ion-color-uxlight);
      padding-bottom: 16px;
      padding-top: 16px;

      &__amount {
        display: flex;
        align-items: center;
        justify-content: center;
        &__edit {
          ion-icon {
            width: 14px;
            height: 14px;
          }
        }
        &__btcValue {
          margin-top: 5px;
        }
      }
      &__detail {
        display: flex;
        margin-top: 15px;
        ion-badge {
          --background: #006eff;
          display: flex;
          align-items: center;
          justify-content: center;
          ion-icon {
            height: 6px;
          }
        }
        &__text {
          margin-left: 8px;
          display: inline;
        }
      }
    }
  }
}
