:host {
  .fd {
    &__type-toggle {
      text-align: right;
      display: block;
    }

    &__eye-button {
      color: gray;
    }
    &__header-title {
      margin-top: -10px;
    }
    &__header-fund {
      margin-top: 10px;
      font-weight: 500;
    }
    &__header-button {
      text-align: right;
      display: block;
    }
    &__fund-metrics-card {
      margin-top: 24px;
    }
    &__fund-portfolio-card {
      margin-top: 24px;
    }
    &__fund-operations-history-card {
      margin-top: 24px;
    }
    &__fund-performance-chart-card {
      margin-top: 24px;
      &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .delta-button {
          ion-icon {
            width: 8px;
          }
        }
      }
      &__periods {
        &__period {
          float: left;
          cursor: pointer;
          margin: 0 8px 0 -13px;
          &__button {
            font-size: var(--ux-fsize-12);
            color: var(--ion-color-uxmedium);
          }
          .active {
            color: var(--ion-color-uxprimary);
          }
        }
      }
    }
  }
}
