:host {
  app-ux-checkbox {
    margin: 0;
    width: 31px;
    height: 24px;
  }

  .tos_item {
    height: 100%;
    --padding-start: 0px;
    --border-color: transparent;
    --background-activated: transparent;
    margin-bottom: -6px;
  }
}
