:host {
  .lc {
    &__list {
      background-color: var(--ion-color-uxlight);
      --ion-background-color: var(--ion-color-uxlight);
      border-radius: 8px;
      ion-item {
        --padding-top: 8px;
        --padding-bottom: 8px;
        ion-label {
          padding-left: 16px;
        }
      }
      &__img {
        max-width: 33px;
      }
    }
  }
}
