:host {
  .rc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    background: var(--ion-color-uxlight);
    width: 100%;
    height: 100%;

    &__text {
      text-align: center;
      line-height: 0.8;

      .regular {
        font-weight: var(--ux-fweight-regular);
      }
    }

    .coming_soon {
      width: 100%;
      height: 13.5px;
      background-color: #006eff;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      position: absolute;
      color: white;
      bottom: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
