:host {
  .ux_textarea_container {
    padding-top: 16px;

    &__item {
      height: 100%;
      border: 1.5px solid var(--ion-color-uxsemidark);
      border-radius: 7px;
      --background: #0000000a;
      --inner-border-width: 0;
      --highlight-background: none;

      font-weight: 400;
      color: #000000de;
      font-size: 14px;
      font-family: var(--ux-font-lato);

      &.item-has-focus {
        border: 1.5px solid var(--ion-color-uxprimary);
        --background: #ffffff;
      }

      &__error_icon {
        margin-top: 8px;
        width: 20px;
        height: 20px;
      }
    }
  }
}
