.button-next {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: 8px;
}

.investor_step {
  &__content_slide {
    margin: auto;
    width: 85%;
    max-height: 95vh;
    min-height: 85vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1.5px solid #1c2d5e;
    box-shadow: 0px 0px 16px rgba(28, 45, 94, 0.2);
    box-sizing: border-box;
    border-radius: 8px;
    margin-top: 16px;

    &__image {
      margin-top: 16px;
      text-align: center;
      width: auto;
      height: 166px;
    }

    &__text {
      display: flex;
      flex-direction: column;
      text-align: start;

      &__primary_text {
        margin-top: 8px;
        padding: 0px 30px;
        color: var(--ion-color-uxdark);
      }

      &__secondary_text {
        color: var(--ion-color-uxdark);
        margin-top: auto;
        padding: 0px 30px;
      }
    }

    &__button_next {
      position: absolute;
      right: 16px;
    }

    &__button_back {
      position: absolute;
      left: 16px;
      ion-icon {
        transform: rotate(180deg);
      }
    }

    &__slide_step_show {
      text-align: center;
      right: 19px;
      margin-top: 17px;
      ion-text {
        color: var(--ion-color-uxprimary);
      }
    }
  }
}

.slide_button {
  top: 50%;
  ion-button {
    --padding-bottom: 17px;
    --padding-top: 17px;
    --padding-start: 8px;
    --padding-end: 8px;
  }
}
