:host {
  .fs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fs__header {
    width: 100%;
    h1 {
      margin-bottom: 5px;
    }
  }

  .fs__header__state {
    color: #555;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  .fs__content {
    width: 100%;
  }

  .fs__profit {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fs__profit__main {
    font-size: 27px;
    color: #333;
    padding: 10px 10px 15px;
    ion-icon {
      vertical-align: -0.15em;
    }
  }

  .fs__days-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
