:host {
  .change_alias {
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;

    height: 40vh;
    --ion-item-background: --ion-background;

    &__header {
      display: flex;
      justify-content: space-between;

      &__text {
        padding-top: 8px;
      }

      &__close_button {
        margin: 0;
        color: rgb(186, 186, 186);
        font-size: 16px;

        --padding-end: 0;
      }
    }

    &__input {
      margin-top: 0px;
    }

    &__description {
      font-weight: var(--ux-fweight-regular);
      font-size: var(--ux-fsize-11);
      margin-top: 12px;
    }

    &__submit {
      margin-top: 8px;

      .ux_button {
        width: 100%;
      }
    }

    font-weight: 400;
    color: #000000de;
    font-size: 14px;
    font-family: var(--ux-font-lato);
  }
}
