:host {
  .wsb {
    &__card-buttons {
      color: #000000;
      display: flex;
      justify-content: center;
      align-items: center;
      &__send-card {
        margin: 0px 5px 0px 14px;
      }
      &__buy-card {
        margin: 0px 5px;
      }
      &__receive-card {
        margin: 0px 5px;
      }
      &__performance {
        margin: 0px 14px 0px 5px;
      }
      .card {
        width: 78px;
        height: 78px;
      }
    }

    &__message {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 0 15px 0;
      color: #54576b;
      font-weight: bold;
    }
  }
}
