:host {
  .ux_toolbar {
    --border-width: 0;
  }

  .refresher {
    align-items: center;
    margin-top: 12px;
  }

  .header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
  }

  .notificationQty {
    font-size: 12px;
    background: red;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -6px;
    bottom: 3px;
    border: 1px solid #ff9100;
  }
}
