:host {
  .main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__button_content {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }

    &__close_button {
      position: absolute;
      top: 16px;
      right: 3px;

      &__icon {
        width: 23px;
        height: 23px;
      }
    }

    &__primary_text {
      margin-top: 64px;
      text-align: center;
    }

    &__secondary_text {
      margin-top: 8px;
      text-align: center;
    }

    &__button {
      width: 100%;
      margin-top: 24px;
      text-align: center;

      ion-button {
        width: 100%;
      }

      .ux-link-xl {
        text-decoration: none;
      }
    }
  }
}
