:host {
  width: 100%;
  height: 56%;

  .ftl {
    margin-top: 8px;
    background-color: var(--ion-color-uxlight);
    border-radius: 8px;

    position: relative;
    &__content {
      &__item {
        min-height: 70px;
        display: flex;
        &__side {
          display: flex;
          flex-direction: column;
          flex-basis: 10%;

          &__dot-container {
            flex-basis: 10%;
            display: flex;
            justify-content: center;

            &__dot {
              border-radius: 100px;
            }
          }
          &__line-container {
            flex-basis: 80%;
            display: flex;
            justify-content: center;
            align-items: center;

            &__line {
              -webkit-transform: none;
              transform: none;
              width: 0.5px;
              display: flex;
              height: 80%;
            }
          }
        }

        &__content {
          height: fit-content;
          flex-basis: 90%;
          display: flex;

          &__info {
            padding-right: 5px;
            &__percentage {
              ion-label {
                ion-text.positive {
                  color: #21dd62;
                }
                ion-text.negative {
                  color: var(--ion-color-danger);
                }
              }
            }
          }

          &__label {
            padding-left: 5px;
            display: flex;
            align-items: center;
            border-left: 0.5px solid #c4c4c4;
          }
        }
      }

      &__item.active {
        & .ftl__content__item__side {
          &__dot-container {
            &__dot {
              width: 7.5px;
              background: var(--ion-color-info);
            }
          }
          &__line-container {
            &__line {
              background: var(--ion-color-info);
            }
          }
        }
      }
      &__item.finalizado {
        & .ftl__content__item__side {
          &__dot-container {
            &__dot {
              width: 14px;
              height: 14px;
              background: #c4c4c4;
            }
          }
          &__line-container {
            &__line {
              background-color: #c4c4c4;
            }
          }
        }
        & .ftl__content__item__content {
          display: flex;

          &__info {
            display: flex;
            flex-direction: column;
            &__percentage {
              text-align: right;
            }
          }
        }
      }

      &__item.initial {
        min-height: unset;
        & .ftl__content__item__side {
          justify-content: center;
          &__dot-container {
            &__dot {
              width: 7.5px;
              height: 7.5px;
              background: #c4c4c4;
            }
          }
          &__line-container {
            &__line {
              background-color: #c4c4c4;
            }
          }
        }
      }
    }
  }
  .semibold {
    font-weight: var(--ux-fweight-semibold);
  }

  .regular {
    font-weight: var(--ux-fweight-regular);
  }

  .extrasmall {
    font-size: var(--ux-fsize-11);
  }
}
