:host {
  .invested-balance {
    margin-top: 0;
    margin-bottom: 16px;

    &__content {
      display: flex;
      flex-direction: column;

      &__label {
        margin-bottom: 4px;
      }

      &__balance {
        width: 100%;
        display: flex;
        justify-content: space-between;

        &__text {
          color: var(--ion-color-uxdark);
        }
      }
    }
  }

  .link {
    text-decoration: none;
    font-weight: var(--ux-fweight-semibold);
  }

  ion-item::part(native) {
    padding-left: 16px;
  }
}
