.main {
  background-color: rgb(144, 144, 144);
}
.content {
  display: block;
}
.title {
  display: flex;
  margin-bottom: 16px;
}

.description {
  display: flex;
  font-weight: var(--ux-fweight-semibold);
}

.info {
  margin-top: 16px;
  width: 95%;
  height: auto;
  align-items: center;
  justify-content: flex-start;
}
