:host {
  ion-content {
    --ion-backgroud-color: white;
    --background: white;
  }

  .main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__primary_text {
      margin-top: 16px;
      text-align: center;
    }

    &__secondary_text {
      margin-top: 16px;
      text-align: center;
    }

    &__small_text {
      margin-top: 8px;
      text-align: center;
    }

    &__bank_info {
      --ion-item-background: white;
      width: 100%;
      margin-top: 40px;
      padding-left: 16px;
      padding-right: 16px;
      display: flex;
      flex-direction: column;

      &__content {
        --min-height: 36px;
        font-weight: 500;
        font-family: var(--ux-font-lato);
        font-size: 14px;
        color: #0000008a;

        &__right {
          text-align: right;
        }

        &__left {
          padding-left: 10px;
        }
      }
    }

    &__telegram {
      --border-radius: 8px;
      margin-top: 40px;

      &__secondary_text {
        font-family: var(--ux-font-lato);
        font-size: 14px;
        font-weight: 400;
        color: #0000008a;
        text-align: left;
        padding-left: 16px;
        padding-right: 5px;
      }

      &__telegram_logo {
        padding-left: 5px;
        padding-right: 24px;
        padding-top: 10px;
        padding-bottom: 10px;

        &__img {
          min-width: 90px;
          min-height: 85px;
          width: 90px;
          height: 85px;
        }
      }
    }

    &__actions {
      padding-left: 13px;
      padding-right: 13px;
      width: 100%;
      margin-top: 36px;
      text-align: center;
      ion-button {
        width: 100%;
      }
      &__secondary {
        margin-top: 8px;
      }
    }
  }
}

.success-text {
  --background: #ecfdf5;
  background: #ecfdf5;
  color: #34d399;
  padding-right: 3px;
  padding-left: 3px;
}

.copy-button {
  --padding-start: 6px;
  --padding-end: 0px;
}
