:host {
  .main {
    background: var(--ion-background-colorwhite);
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__waiting_image {
      max-width: 100%;
    }

    &__primary_text {
      text-align: center;
    }

    &__secondary_text {
      color: var(--ion-color-uxprimary);
      margin-top: 4px;
      text-align: center;
    }
  }
}
