:host {
  .text1 {
    text-align: center;
  }

  .create_button {
    display: flex;
    justify-content: center;
  }

  ion-card {
    width: 70%;
    height: 130px;
    margin-top: 90px;
    margin-bottom: 60px;
  }

  .div-input {
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid grey;

    ion-icon {
      color: var(--ion-color-uxlight);
    }

    .hidden-input {
      height: 35px;
    }
  }

  .text-card {
    margin-top: 40px;
  }

  .active {
    --color: white;
    --background: var(--ion-color-uxprimary);
    --background-activated: var(--ion-color-uxprimary);
    --border-radius: 150px;
  }
}
