:host {
  .fn {
    &__title {
      margin-top: 8px;
    }

    &__text_before {
      margin-top: 16px;
    }

    &__ak_input {
      margin-top: 8px;
    }

    &__alert {
      margin-top: 24px;
    }

    &__submit_button {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 16px;
    }
  }
}
