:host {
  .header {
    margin-top: 24px;
    &__text {
      margin-top: 16px;
    }
  }

  .main {
    padding-top: 8px;
    margin-top: 8px;

    .button {
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      font-family: var(--ux-font-lato);
      font-size: 16px;
    }
  }

  .container {
    height: 100%;
    width: 100%;
  }
}
