:host {
  .dp {
    &__logo {
      text-align: center;
      img {
        width: 150px;
      }
    }

    &__content {
      padding: 20px;
      background: var(--ion-background-colorwhite);
      border-radius: 10px;
      margin-top: 20px;
      &__text {
        color: #0000008a;
        display: block;
        padding-top: 8px;
        min-height: 24px;

        &__title {
          font-weight: bold;
          color: #3e3e3e;
        }
      }
    }
    &__pic-button {
      width: 100%;
      height: 200px;
      margin-top: 20px;
      --ion-color-base: transparent;
      border: 1px solid #0000008a;
      border-radius: 10px;
      --ion-color-contrast: gray;

      &__button-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        ion-icon {
          font-size: 80px;
        }
      }

      &__picture img {
        max-height: 180px;
      }
    }

    &__voucher {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 30px;

      app-ux-center-img img {
        width: 100px;
      }

      span {
        padding-top: 15px;
      }
    }
  }

  .button-next {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 16px;
    padding: 0 10px;
  }
}
