:host {
  width: 100%;

  .cib {
    width: auto;
    height: auto;
    background-color: var(--ion-color-uxlight);
    border-radius: 8px;
    cursor: pointer;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 25px;

    &__buttons {
      &__editButton {
        height: 12px;
        margin-bottom: 8px;
      }
      &__icon {
        font-size: 12px;
      }
    }

    &__main {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #0000000a;

      &__fund_text {
        color: var(--ion-color-uxmedium);
        font-weight: 400;
      }
      &__content {
        &__title {
          color: var(--ion-color-uxdark);
        }
        &__text {
          font-weight: var(--ux-fweight-regular);
        }
      }
    }

    &__footer {
      height: 44px;
      display: flex;
      justify-content: flex-end;
      &__more_info {
        font-weight: var(--ux-fweight-regular);
        margin-top: 9.4px;
        ion-icon {
          height: 10px;
        }
      }
      &__used_key {
        padding-top: 16px;
        padding-right: 16px;
      }

      &__buttons {
        &__removeButton {
          margin-top: 9.4px;
          margin-right: auto;
          color: var(--ion-color-uxmedium);
          font-size: 16px;
        }
      }
    }
  }
}
