:host {
  .classic {
    .nsc {
      background: var(--ion-color-uxlight);
      border-radius: 8px;
      &__networks {
        margin-top: 8px;
      }
      &__disclaimer {
        margin-top: 16px;
      }
    }
  }

  .receive {
    .nsc {
      padding: 0;
      border-radius: 8px;
      &__networks {
        margin-top: 8px;
      }
      &__disclaimer {
        margin-top: 16px;
      }
    }
  }
}
