:host ::ng-deep {
  .ux_range {
    &__label {
      font-weight: 600;
      font-size: 12px;
      font-family: var(--ux-font-lato);
      color: #0000008a; // Color negro con opacity 0.54
    }
    &__content {
      background: var(--ion-color-uxlight);
      border-radius: 4px;
      &__display-on-release {
        padding-left: 24px;
        padding-top: 16px;
        .text {
          color: var(--ion-color-uxsemidark);
        }
      }
      &__max_min {
        display: flex;
        justify-content: space-between;
        padding-left: 24px;
        padding-right: 24px;
        font-family: var(--ux-font-lato);
        font-size: 14px;
        color: #00000061;
      }
      padding-bottom: 16px;
      padding-top: 4px;
    }

    ion-item,
    ion-label,
    ion-radio {
      --background: var(--ion-color-uxlight);
    }

    ion-item {
      border-radius: 4px;
      --inner-border-width: 0px 0px 0px 0px;
      --border-color: #0000000a;
    }

    ion-range {
      --height: 50px;
      --bar-height: 4px;
      --bar-background: #00000029;
      --knob-background: var(--ion-color-uxsecondary);
      --knob-size: 26px;
    }
  }
}
