:host {
  .fpcc {
    display: inline-block;
    width: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    min-height: 12vh;
  }

  .loading {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}
