:host {
  .main {
    &__close_button {
      position: absolute;
      top: 16px;
      left: 16px;
      padding: 0px;
      margin: 0px;
      width: 24px;
      height: 24px;
      &__icon {
        width: 24px;
        height: 24px;
      }
    }
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__ux_success_image {
      max-width: 100%;
      margin: 0px;
    }

    &__primary_text {
      margin-top: 16px;
      text-align: center;
    }

    &__secondary_text {
      margin-top: 16px;
      text-align: center;
      .text {
        font-size: var(--ux-fsize-14);
      }
    }
    &__third_text {
      margin-top: 16px;
      text-align: center;
    }

    &__actions {
      padding-left: 13px;
      padding-right: 13px;
      width: 100%;
      margin-top: 24px;
      text-align: center;
      ion-button {
        width: 100%;
      }
      &__secondary {
        margin-top: 8px;
        .ux_button {
          font-size: var(--ux-fsize-14);
          margin-top: 0px;
          text-align: center;
        }
      }
      &__third {
        margin-top: 16px;
      }
    }
  }
}
