:host {
  ion-list {
    margin-top: 20px;
  }

  app-ux-title {
    text-align: center;
  }

  .table-header {
    margin-bottom: 0;
    font-size: 12px;
    color: var(--ion-color-uxsemidark);
    flex-direction: row;
    display: flex;
    text-align: center;
    font-weight: var(--ux-fweight-regular);

    ion-label {
      margin: 0;
      flex: 1;
    }

    ion-text {
      flex: 1;
    }
  }
}
