:host {
  .label {
    font-weight: var(--ux-fweight-semibold);
  }

  ion-tab-bar {
    height: 52px;
    --background: var(--ion-color-uxlight);
    position: relative;
    bottom: 16px;
    border-radius: 30px;
    margin-top: 20px;
    margin-right: 16px;
    margin-left: 16px;
    box-shadow: 0px 0px 24px rgba(28, 45, 94, 0.2);
    border: 0.5px solid var(--ion-color-uxmedium);
  }

  ion-tab-button {
    --color: var(--ion-color-uxprimary);
    --color-selected: var(--ion-color-uxprimary);
    flex-direction: row;
    border-radius: 10px;
    padding: 10px 16px;
  }

  ion-tab-button.tab-selected::part(native) {
    background: var(--ion-color-uxsecondary);
  }

  ion-icon {
    width: 22px !important;
    height: 22px;
    margin-bottom: 4px;
    margin-right: 4px;
  }

  .investments {
    ion-icon {
      margin-right: 3px;
      margin-left: 4px;
    }
    ion-label {
      margin: 0px 4px;
    }
  }
}
