:host {
  .nam {
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 12px;
    &__content {
      height: auto;
      &__img {
        width: 230px;
        height: 145px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 20px;
      }

      &__header {
        display: flex;
        height: 8px;
        align-items: center;
        justify-content: space-between;
        &__text {
          margin-left: 22px;
        }

        &__close_button {
          justify-content: flex-end;
          margin-right: 0;
          padding-left: 8px;
          color: var(--ion-color-uxsemidark);
          font-size: 16px;
          padding-right: 0px;
          margin-right: -10px;
        }
      }

      &__first_title {
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
      }

      &__second_title {
        margin-top: 12px;
        text-align: center;
        margin-bottom: 14px;
      }

      &__message {
        margin-left: 32px;
        margin-right: 32px;
        text-align: center;
      }

      &__buttons {
        margin-top: 12px;
      }
    }
  }
}
