:host {
  width: 100%;

  .ffp {
    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      &__finish-button {
        width: 100%;
        ion-icon {
          margin-right: 5px;
        }
      }

    }
  }
}

