:host {
  width: 100%;

  .fund_performance_chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 0px 10px;
    &__chart {
      &__tooltip {
        color: #ffffff;
        width: 80px;
        height: 35px;
        position: absolute;
        display: none;
        padding: 8px;
        box-sizing: border-box;
        font-size: 18px;
        background-color: #ff9100;
        text-align: center;
        z-index: 1000;
        pointer-events: none;
        border: 1px solid #ffffff;
        border-radius: 5px;
      }
    }
  }

  .share_fund_chart {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    height: 43px;
    border-top: 1px solid #0000000a;
    align-items: center;
  }
}
