:host {
  .ss {
    &__title {
      margin-top: 24px;
    }
    &__transaction-summary-card {
      margin-top: 24px;
    }
    &__send_button {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
    }
  }
}
