:host {
  .cs {
    &__background {
      background-color: var(--ion-color-uxprimary);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      height: 86px;
    }

    &__card {
      margin-top: -76px;
    }
  }

  .no-border {
    --border-width: 0;
  }
}
