.qc {
  margin-top: 8px;
  background-color: var(--ion-color-uxlight);
  border-radius: 8px;
  border: 0.5px solid var(--ion-color-uxmedium);
  min-height: 28px;
  width: 100%;

  ion-text.positive {
    color: var(--ion-color-successdark);
    text-align: end;
  }

  ion-text.negative {
    color: var(--ion-color-dangerdark);
    text-align: end;
  }

  ion-accordion-group {
    width: 100%;

    ion-accordion {
      width: 100%;
    }
  }

  &__content {
    display: flex;
    border-radius: 8px;
  }

  &__accordeon {
    width: 100%;
    border-radius: 8px;

    ion-item[slot='header'] {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      border-bottom: 1px solid var(--ion-color-uxline);
      background-color: var(--ion-color-uxlight);

      ion-label {
        background-color: var(--ion-color-uxlight);
        font-family: var(--ux-font-worksans);
        font-size: var(--ux-fsize-18);
        font-weight: var(--ux-fweight-semibold);
        color: var(--ion-color-uxprimary);
        line-height: 24px;
        margin-bottom: 8px;
      }
    }
  }

  &__button {
    display: flex;
    justify-content: center;

    ion-button {
      text-decoration: underline;
    }
  }

  .table-header {
    width: 100%;
    margin-bottom: 0;
    color: var(--ion-color-uxsemidark);
    flex-direction: row;
    display: flex;
    text-align: start;
    font-weight: var(--ux-fweight-regular);

    .ion-label {
      margin: 0;
      flex: 1;
    }

    ion-label.right {
      margin-right: 0;
      text-align: end;
    }

    ion-text {
      flex: 1;
    }

    ion-text.center {
      flex-direction: column;
      text-align: start;
    }
  }

  .symbol {
    flex: 1;
  }

  ion-item::part(native) {
    background-color: var(--ion-color-uxlight) !important;
  }
}
