:host {
  .itc {
    margin-top: 8px;
    padding-top: 12px;
    padding-right: 14.4px;
    display: flex;
    justify-content: flex-end;

    &__text_col {
      padding-right: 26.4px;
      width: 100%;

      &__text_ct {
        margin-top: 4px;
      }

      &__title_off {
        color: var(--ion-color-uxsemidark);
      }

      &__text_off {
        color: var(--ion-color-uxsemidark);
      }
    }

    &__button_col {
      align-self: center;

      &__button {
        &__icon {
          height: 14px;
        }
      }
    }
  }
}
