:host {
  width: 100%;
  .pcc {
    background-color: var(--ion-color-uxlight);
    border-radius: 8px;

    &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: auto;
      height: 43px;

      &__right {
        padding-left: 16px;
        padding-right: 9px;
        padding-top: 16px;
        padding-bottom: 16px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        &__icon {
          font-size: 12px;
          padding-left: 8px;
        }
      }
      &__left {
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
      }
    }
  }
}
