.button-next {
  display: flex;
  flex-direction: column;
}

ion-item {
  display: flex;
  padding-left: -3%;
  align-items: flex-start;
  --margin-bottom: 8px;
  --padding-start: 0;
  --padding-right: 0;
}
.item {
  position: relative;
  margin: left 0%;
}
.checkbox {
  padding-right: 0px;
  margin-right: 2px;
  vertical-align: top;
}

.info_text {
  color: var(--ion-color-uxsemidark);
  margin-top: 24px;
  margin-bottom: 24px;
}

.text {
  margin-top: 12px;
  margin-bottom: 8px;
}

.ip_text {
  margin-bottom: 12px;
}

app-ux-checkbox {
  padding-bottom: 20px;
}
