// Tipografías Nuevas
.ux-font-text-xxs {
  font-family: var(--ux-font-lato);
  font-size: var(--ux-fsize-12);
  font-weight: var(--ux-fweight-bold);
}

.ux-font-text-xs {
  font-family: var(--ux-font-lato);
  font-size: var(--ux-fsize-14);
  font-weight: var(--ux-fweight-regular);
  color: var(--ion-color-uxprimary);
}

.underline {
  text-decoration: underline;
}

.ux-link-xs {
  font-family: var(--ux-font-worksans);
  font-size: var(--ux-fsize-14);
  font-weight: var(--ux-fweight-bold);
  color: var(--ion-color-info);
  text-decoration: underline;
  line-height: 16.42px;
}

.ux-link-xl {
  font-family: var(--ux-font-worksans);
  font-size: var(--ux-fsize-16);
  font-weight: var(--ux-fweight-bold);
  color: var(--ion-color-info);
  text-decoration: underline;
  line-height: 18.77px;
}

// Texto normal

.ux-font-text-base {
  font-family: var(--ux-font-lato);
  font-size: var(--ux-fsize-16);
  font-weight: var(--ux-fweight-regular);
  color: var(--ion-color-uxsemidark);
  line-height: 24px;
}

.ux-font-text-base-primary {
  font-family: var(--ux-font-lato);
  font-size: var(--ux-fsize-16);
  font-weight: var(--ux-fweight-regular);
  color: var(--ion-color-uxdark);
  line-height: 24px;
}

.ux-font-text-base-black {
  font-family: var(--ux-font-lato);
  font-size: var(--ux-fsize-16);
  font-weight: var(--ux-fweight-regular);
  color: var(--ion-color-uxprimary);
  line-height: 24px;
}

// Título XS
.ux-font-title-xs {
  font-family: var(--ux-font-lato);
  font-size: var(--ux-fsize-14);
  font-weight: var(--ux-fweight-bold);
  color: var(--ion-color-uxsemidark);
}

// Título
.ux-font-text-lg {
  font-family: var(--ux-font-worksans);
  font-size: var(--ux-fsize-18);
  font-weight: var(--ux-fweight-semibold);
  color: var(--ion-color-uxprimary);
  line-height: 24px;
}

// Subtítulos
.ux-font-subheading {
  font-family: var(--ux-font-lato);
  font-size: var(--ux-fsize-14);
  font-weight: var(--ux-fweight-semibold);
  color: var(--ion-color-uxsemidark);
  text-transform: uppercase;
}

.ux-font-text-xl {
  font-family: var(--ux-font-worksans);
  font-size: var(--ux-fsize-22);
  font-weight: var(--ux-fweight-semibold);
  color: var(--ion-color-uxprimary);
  line-height: 25.81px;
}

.ux-font-num-titulo {
  font-family: var(--ux-font-worksans);
  font-size: var(--ux-fsize-40);
  font-weight: var(--ux-fweight-semibold);
}

.ux-font-num-titulo-xs {
  font-family: var(--ux-font-worksans);
  font-size: var(--ux-fsize-14);
  font-weight: var(--ux-fweight-bold);
}

.ux-font-num-subtitulo {
  font-family: var(--ux-font-worksans);
  font-size: var(--ux-fsize-12);
  font-weight: var(--ux-fweight-semibold);
}

.ux-font-currency-title {
  font-family: var(--ux-font-worksans);
  font-size: var(--ux-fsize-24);
  font-weight: var(--ux-fweight-semibold);
}

.ux-font-titulo-xs {
  font-family: var(--ux-font-lato);
  font-size: var(--ux-fsize-14);
  font-weight: var(--ux-fweight-bold);
  color: var(--ion-color-uxprimary);
}

.ux-font-header-titulo {
  font-family: var(--ux-font-worksans);
  font-size: var(--ux-fsize-16);
  font-weight: var(--ux-fweight-semibold);
  color: var(--ion-color-uxdark);
  line-height: 18.77px;
}
