// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** ux primary **/
  --ion-color-uxprimary: #1c2d5e;
  --ion-color-uxprimary-rgb: 28, 45, 94;
  --ion-color-uxprimary-contrast: #fff;
  --ion-color-uxprimary-contrast-rgb: 255, 255, 255;
  --ion-color-uxprimary-matiz: #192853;
  --ion-color-uxprimary-tint: #33426e;

  /** ux primary hover **/
  --ion-color-uxprimary-hover: #38499f;

  /** ux secondary hover **/
  --ion-color-uxsecondary-hover: #b2c610;

  /** ux secondary **/
  --ion-color-uxsecondary: #d7eb36;
  --ion-color-uxsecondary-rgb: 215, 235, 54;
  --ion-color-uxsecondary-contrast: #1c2d5e;
  --ion-color-uxsecondary-contrast-rgb: 255, 87, 51;
  --ion-color-uxsecondary-matiz: #bdcf30;
  --ion-color-uxsecondary-tint: #dbed4a;

  /** ux danger **/
  --ion-color-uxdanger: #ef170e;
  --ion-color-uxdanger-rgb: 239, 23, 14;
  --ion-color-uxdanger-contrast: #fff;
  --ion-color-uxdanger-contrast-rgb: 255, 255, 255;
  --ion-color-uxdanger-shade: #d2140c;
  --ion-color-uxdanger-tint: #f12e26;

  /** ux success **/
  --ion-color-uxsuccess: #21dd62;
  --ion-color-uxsuccess-rgb: 33, 221, 98;
  --ion-color-uxsuccess-contrast: #000;
  --ion-color-uxsuccess-contrast-rgb: 0, 0, 0;
  --ion-color-uxsuccess-shade: #1dc256;
  --ion-color-uxsuccess-tint: #37e072;

  /** ux medium (Neutro-50) **/
  --ion-color-uxmedium: #b0b6c7;
  --ion-color-uxmedium-rgb: 176, 182, 199;
  --ion-color-uxmedium-contrast: #000;
  --ion-color-uxmedium-contrast-rgb: 0, 0, 0;
  --ion-color-uxmedium-shade: #9ba0af;
  --ion-color-uxmedium-tint: #b8bdcd;

  /** ux semidark (Neutro-80) **/
  --ion-color-uxsemidark: #606c8e;
  --ion-color-uxsemidark-rgb: 96, 108, 142;
  --ion-color-uxsemidark-contrast: #fff;
  --ion-color-uxsemidark-contrast-rgb: 255, 255, 255;
  --ion-color-uxsemidark-shade: #545f7d;
  --ion-color-uxsemidark-tint: #707b99;

  /** ux dark (Neutro-90) **/
  --ion-color-uxdark: #263238;
  --ion-color-uxdark-rgb: 38, 50, 56;
  --ion-color-uxdark-contrast: #fff;
  --ion-color-uxdark-contrast-rgb: 255, 255, 255;
  --ion-color-uxdark-shade: #212c31;
  --ion-color-uxdark-tint: #3c474c;

  /** ux light **/
  --ion-color-uxlight: #fff;
  --ion-color-uxlight-rgb: 255, 255, 255;
  --ion-color-uxlight-contrast: #000;
  --ion-color-uxlight-contrast-rgb: 0, 0, 0;
  --ion-color-uxlight-shade: #e0e0e0;
  --ion-color-uxlight-tint: #fff;

  /** ux combination green-white **/
  --ion-color-uxcombination: #65b168;
  --ion-color-uxcombination-rgb: 33, 221, 98;
  --ion-color-uxcombination-contrast: #fff;
  --ion-color-uxcombination-contrast-rgb: 0, 0, 0;
  --ion-color-uxcombination-shade: #65b168;
  --ion-color-uxcombination-tint: #65b168;

  /** ux neutro-50 **/
  --ion-color-uxline: #b0b6c7;

  /** Gray 1 **/
  --ion-color-gray1: #333;

  /** alerts color **/

  /** warning **/
  --ion-color-warninglight: #feecaa;
  --ion-color-warning: #fccf2b;
  --ion-color-warningdark: #654f01;

  /** success **/
  --ion-color-successlight: #dcefe4;
  --ion-color-success: #27ae60;
  --ion-color-successdark: #13532e;

  /** error **/
  --ion-color-dangerlight: #f9e7e7;
  --ion-color-danger: #cf4646;
  --ion-color-dangerdark: #9d0606;

  /** info **/
  --ion-color-info: #4a75f7;
  --ion-color-info-rgb: 74, 117, 247;
  --ion-color-info-contrast: #fff;
  --ion-color-info-contrast-rgb: 255, 255, 255;
  --ion-color-info-shade: #4167d9;
  --ion-color-info-tint: #5c83f8;

  /** infolight **/
  --ion-color-infolight: #e1e9fe;
  --ion-color-infolight-rgb: 225, 233, 254;
  --ion-color-infolight-contrast: #000;
  --ion-color-infolight-contrast-rgb: 0, 0, 0;
  --ion-color-infolight-shade: #c6cde0;
  --ion-color-infolight-tint: #e4ebfe;

  /** infodark **/
  --ion-color-infodark: #001966;
  --ion-color-infodark-rgb: 0, 25, 102;
  --ion-color-infodark-contrast: #fff;
  --ion-color-infodark-contrast-rgb: 255, 255, 255;
  --ion-color-infodark-shade: #00165a;
  --ion-color-infodark-tint: #1a3075;

  /** Fondos **/

  /** Neutro-10 **/
  --ion-background-color: #f5f5f5;
  --ion-color-neutro10: #f5f5f5;

  /** Blanco **/
  --ion-background-colorwhite: #fff;

  /** Fuentes **/
  --ux-font-worksans: 'Work Sans';
  --ux-font-gilroy: 'Gilroy';
  --ux-font-lato: 'Lato';

  /** Weight **/
  --ux-fweight-regular: 400;
  --ux-fweight-semibold: 600;
  --ux-fweight-bold: 700;
  --ux-fweight-extrabold: 800;

  /** Size **/
  --ux-fsize-8: 8px;
  --ux-fsize-10: 10px;
  --ux-fsize-11: 11px;
  --ux-fsize-12: 12px;
  --ux-fsize-14: 14px;
  --ux-fsize-15: 15px;
  --ux-fsize-16: 16px;
  --ux-fsize-17: 17px;
  --ux-fsize-18: 18px;
  --ux-fsize-20: 20px;
  --ux-fsize-22: 22px;
  --ux-fsize-24: 24px;
  --ux-fsize-40: 40px;
  --ion-font-family: var(--ux-font-lato);
  --ion-text-color: var(--ion-color-uxdark);
}

.ion-color-uxprimary {
  --ion-color-base: var(--ion-color-uxprimary);
  --ion-color-base-rgb: var(--ion-color-uxprimary-rgb);
  --ion-color-contrast: var(--ion-color-uxprimary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-uxprimary-contrast-rgb);
  --ion-color-shade: var(--ion-color-uxprimary-shade);
  --ion-color-tint: var(--ion-color-uxprimary-tint);
}

.ion-color-uxsecondary {
  --ion-color-base: var(--ion-color-uxsecondary);
  --ion-color-base-rgb: var(--ion-color-uxsecondary-rgb);
  --ion-color-contrast: var(--ion-color-uxsecondary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-uxsecondary-contrast-rgb);
  --ion-color-shade: var(--ion-color-uxsecondary-shade);
  --ion-color-tint: var(--ion-color-uxsecondary-tint);
}

.ion-color-uxdanger {
  --ion-color-base: var(--ion-color-uxdanger);
  --ion-color-base-rgb: var(--ion-color-uxdanger-rgb);
  --ion-color-contrast: var(--ion-color-uxdanger-contrast);
  --ion-color-contrast-rgb: var(--ion-color-uxdanger-contrast-rgb);
  --ion-color-shade: var(--ion-color-uxdanger-shade);
  --ion-color-tint: var(--ion-color-uxdanger-tint);
}

.ion-color-uxsuccess {
  --ion-color-base: var(--ion-color-uxsuccess);
  --ion-color-base-rgb: var(--ion-color-uxsuccess-rgb);
  --ion-color-contrast: var(--ion-color-uxsuccess-contrast);
  --ion-color-contrast-rgb: var(--ion-color-uxsuccess-contrast-rgb);
  --ion-color-shade: var(--ion-color-uxsuccess-shade);
  --ion-color-tint: var(--ion-color-uxsuccess-tint);
}

.ion-color-uxcombination {
  --ion-color-base: var(--ion-color-uxcombination);
  --ion-color-base-rgb: var(--ion-color-uxcombination);
  --ion-color-contrast: var(--ion-color-uxcombination-contrast);
  --ion-color-contrast-rgb: var(--ion-color-uxcombination-contrast-rgb);
  --ion-color-shade: var(--ion-color-uxcombination-shade);
  --ion-color-tint: var(--ion-color-uxcombination-tint);
}

.ion-color-uxmedium {
  --ion-color-base: var(--ion-color-uxmedium);
  --ion-color-base-rgb: var(--ion-color-uxmedium-rgb);
  --ion-color-contrast: var(--ion-color-uxmedium-contrast);
  --ion-color-contrast-rgb: var(--ion-color-uxmedium-contrast-rgb);
  --ion-color-shade: var(--ion-color-uxmedium-shade);
  --ion-color-tint: var(--ion-color-uxmedium-tint);
}

.ion-color-uxsemidark {
  --ion-color-base: var(--ion-color-uxsemidark);
  --ion-color-base-rgb: var(--ion-color-uxsemidark-rgb);
  --ion-color-contrast: var(--ion-color-uxsemidark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-uxsemidark-contrast-rgb);
  --ion-color-shade: var(--ion-color-uxsemidark-shade);
  --ion-color-tint: var(--ion-color-uxsemidark-tint);
}

.ion-color-uxdark {
  --ion-color-base: var(--ion-color-uxdark);
  --ion-color-base-rgb: var(--ion-color-uxdark-rgb);
  --ion-color-contrast: var(--ion-color-uxdark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-uxdark-contrast-rgb);
  --ion-color-shade: var(--ion-color-uxdark-shade);
  --ion-color-tint: var(--ion-color-uxdark-tint);
}

.ion-color-uxlight {
  --ion-color-base: var(--ion-color-uxlight);
  --ion-color-base-rgb: var(--ion-color-uxlight-rgb);
  --ion-color-contrast: var(--ion-color-uxlight-contrast);
  --ion-color-contrast-rgb: var(--ion-color-uxlight-contrast-rgb);
  --ion-color-shade: var(--ion-color-uxlight-shade);
  --ion-color-tint: var(--ion-color-uxlight-tint);
}

.ion-color-info {
  --ion-color-base: var(--ion-color-info);
  --ion-color-base-rgb: var(--ion-color-info-rgb);
  --ion-color-contrast: var(--ion-color-info-contrast);
  --ion-color-contrast-rgb: var(--ion-color-info-contrast-rgb);
  --ion-color-shade: var(--ion-color-info-shade);
  --ion-color-tint: var(--ion-color-info-tint);
}

.ion-color-infolight {
  --ion-color-base: var(--ion-color-infolight);
  --ion-color-base-rgb: var(--ion-color-infolight-rgb);
  --ion-color-contrast: var(--ion-color-infolight-contrast);
  --ion-color-contrast-rgb: var(--ion-color-infolight-contrast-rgb);
  --ion-color-shade: var(--ion-color-infolight-shade);
  --ion-color-tint: var(--ion-color-infolight-tint);
}

.ion-color-infodark {
  --ion-color-base: var(--ion-color-infodark);
  --ion-color-base-rgb: var(--ion-color-infodark-rgb);
  --ion-color-contrast: var(--ion-color-infodark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-infodark-contrast-rgb);
  --ion-color-shade: var(--ion-color-infodark-shade);
  --ion-color-tint: var(--ion-color-infodark-tint);
}

// Fonts

// 100    Extra Light or Ultra Light
// 200    Light or Thin
// 300    Book or Demi
// 400    Normal or Regular
// 500    Medium
// 600    Semibold, Demibold
// 700    Bold
// 800    Black, Extra Bold or Heavy
// 900    Extra Black, Fat, Poster or Ultra Black

@font-face {
  font-family: var(--ux-font-gilroy);
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Gilroy/Gilroy-Light.otf');
}

@font-face {
  font-family: var(--ux-font-gilroy);
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/Gilroy/Gilroy-ExtraBold.otf');
}

// Lato
@font-face {
  font-family: var(--ux-font-lato);
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/Lato/Lato-Semibold.ttf');
}

@font-face {
  font-family: var(--ux-font-lato);
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Lato/Lato-Bold.ttf');
}

@font-face {
  font-family: var(--ux-font-lato);
  font-style: normal;
  font-weight: 200;
  src: url('../assets/fonts/Lato/Lato-Light.ttf');
}

@font-face {
  font-family: var(--ux-font-lato);
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: var(--ux-font-lato);
  font-style: italic;
  font-weight: normal;
  src: url('../assets/fonts/Lato/Lato-Italic.ttf');
}

@font-face {
  font-family: var(--ux-font-worksans);
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/WorkSans/WorkSans-Regular.ttf');
}

@font-face {
  font-family: var(--ux-font-worksans);
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/WorkSans/WorkSans-SemiBold.ttf');
}

@font-face {
  font-family: var(--ux-font-worksans);
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/WorkSans/WorkSans-Bold.ttf');
}

@font-face {
  font-family: var(--ux-font-worksans);
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/WorkSans/WorkSans-ExtraBold.ttf');
}
