.link_text {
  position: absolute;
  display: contents;
}
#faq {
  ul {
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    li {
      border-radius: 8px;
      position: relative;
      overflow: hidden;
      padding: 0;
      margin: 0;
      background: var(--ion-color-uxlight);
      + {
        li {
          margin-top: 15px;
        }
      }
      ion-icon {
        color: var(--ion-color-infodark);
        font-size: var(--ux-fsize-22);
        position: absolute;
        transform: translate(-6px, 0);
        margin-top: 15px;
        right: 4px;
      }
      input[type='checkbox'] {
        position: absolute;
        cursor: pointer;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        touch-action: manipulation;
        &:checked {
          ~ {
            .answer {
              max-height: 0;
              transition: 0.3s;
              opacity: 0;
            }
          }
        }
      }
    }
  }
  .no-select {
    user-select: none;
  }
  .title {
    text-align: left;
    padding: 15px 40px 0 15px;
    text-transform: none;
    display: block;
    margin: 0;
    cursor: pointer;
    transition: 0.2s;
    font-weight: var(--ux-fweight-bold);
  }
  .answer {
    text-align: left;
    position: relative;
    overflow: hidden;
    z-index: 2;
    max-height: 3000px;
    will-change: max-height;
    contain: layout;
    display: block;
    transform: translate(0, 0);
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 0 45px 0 15px;
    transition: 0.3s opacity, 0.6s max-height;
    margin-left: 10px;
  }
}
