:host {
  --ion-background-color: #ffffff;
  background: #ffffff;
  .fbd {
    &__header {
      display: flex;
      justify-content: space-between;
      padding-left: 24px;
      &__text {
        margin-top: 14px;
      }
      &__close {
        margin-top: 11px;
      }
    }
    &__content {
      padding: 0px 24px 0px 24px;
      &__dates {
        margin-top: 24px;
        background-color: #f5f5f5;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      &__history {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0px;
        &__button {
          background-color: var(--ion-color-uxlight);
          cursor: pointer;
        }
      }
    }
  }
}
