:host {
  justify-content: flex-start !important;

  .xcapit-logo {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    height: 56px;
  }

  .main {
    margin-top: 8px;
    overflow: auto;

    &__reset_password__button {
      display: flex;
      justify-content: center;
      margin-top: 24px;
      text-decoration: underline var(--ion-color-info);
    }

    &__go_to_register {
      margin-top: 24px;
      text-decoration: underline var(--ion-color-info);
    }
  }

  .auth-button {
    margin-top: 24px;
  }

  .login-title {
    margin-top: 24px;
    margin-left: 16px;
  }

  .or-text {
    color: #0000008a;
  }

  .google-auth {
    margin-bottom: 10px;
    margin-top: 24px;
    border: 1.5px solid var(--ion-color-info);
    border-radius: 10px;
    display: flex;

    &__button {
      --background: transparent;
      --color: black;
      --border-radius: 0;

      width: 100%;

      &__text {
        margin-left: 8px;
        color: var(--ion-color-info);
      }

      &__icon {
        margin-right: 8px;
      }
    }
  }
}
