:host {
  .rp {
    &__title {
      border-bottom: #eee solid 1px;
    }

    &__summary {
      margin-top: 24px;

      &__first-order {
        margin-bottom: 16px;
      }
    }

    &__total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 16px;
    }
  }
}
