:host {
  .container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
    }
  }

  .title {
    text-align: center;
    color: var(--ion-color-uxsemidark);
  }
}
