:host {
  .header-background {
    background-color: var(--ion-color-uxprimary);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 86px;
    z-index: -1;
    position: relative;
  }

  .dp {
    margin-top: -76px;

    &__active-card,
    &__available-card {
      margin-right: 16px;
      margin-left: 16px;
      padding-bottom: 8px;
      background-color: var(--ion-color-uxlight);
      border-radius: 8px;
      border: 0.5px solid var(--ion-color-uxmedium);
      min-height: 28px;

      ion-item[slot='header'] {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom: 1px solid var(--ion-color-uxline);
        background-color: var(--ion-color-uxlight);
        width: 100%;

        ion-label {
          background-color: var(--ion-color-uxlight);
          font-family: var(--ux-font-worksans);
          font-size: var(--ux-fsize-18);
          font-weight: var(--ux-fweight-semibold);
          color: var(--ion-color-uxprimary);
          line-height: 24px;
          margin-bottom: 8px;
        }
      }
    }

    &__available-card {
      margin-top: 8px;
    }
  }

  ion-item::part(native) {
    background-color: var(--ion-color-uxlight) !important;
  }

  .no-border {
    --border-width: 0 !important;
  }
}
