:host {
  ion-content {
    --ion-backgroud-color: white;
    --background: white;
  }

  .wpc {
    &__description {
      display: inline-flex;
      align-items: center;
      margin-bottom: 20px;

      &__icon {
        width: 24px;
        height: 24px;
        margin-right: 19px;

        ion-icon {
          width: 24px;
          height: 24px;
        }
      }

      &__text {
        ion-text {
          color: var(--ion-color-uxdark);
        }
      }
    }

    &__old_password {
      padding-bottom: 8px;
    }

    &__button {
      margin-top: 24px;
      width: 100%;

      ion-button {
        width: 100%;
      }
    }
  }
}
