:host {
  .aic {
    background: var(--ion-color-uxlight);
    --ion-background-color: var(--ion-color-uxlight);
    border-radius: 8px;
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
