:host {
  .cp {
    &__content {
      padding: 20px;
      font-family: var(--ux-font-lato);
      font-size: 14px;
      font-weight: 500;
      color: #828282;

      &__text {
        display: block;
        padding-top: 5px;

        &__title {
          font-weight: 600;
          color: #000000;
        }
      }

      &__advise {
        font-family: var(--ux-font-lato);
        font-weight: 400;
        font-size: 12px;
        padding: 20px;
        text-align: center;
        color: #828282;
      }
    }
  }

  .button-next {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 16px;
    padding: 0 20px;
  }
}
