.fs {
  &__title {
    margin-top: 8px;
  }

  &__fund-info {
    margin-top: 24px;

    &__list {
      margin-top: 8px;
    }
  }

  &__fund-modify {
    margin-top: 24px;

    &__list {
      margin-top: 8px;

      &__icon {
        height: 17px;
      }
    }
  }

  &__fund-finish {
    margin-top: 24px;
  }
}
.fst {
  &__main-title {
    margin-top: -10px;
    font-family: var(--ux-font-gilroy);
    font-weight: 800;
    font-size: 16px;
  }
  &__fund-name {
    margin-top: 10px;
    font-weight: 500 !important;
  }
}

h2 {
  margin-bottom: 10px;
}
