:host {
  width: 100%;
  .iu {
    background: var(--ion-color-uxlight);
    --ion-background-color: var(--ion-color-uxlight);
    &__item {
      --min-height: 25px;
      --padding-start: 0px;
      --inner-padding-end: 0px;
      ion-input {
        --padding-end: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
      }
    }
    &__labels {
      display: flex;
      justify-content: space-between;
    }
  }
}
