.ipc {
  &__mincapital {
    color: var(--ion-color-uxlight);
  }

  &__badge {
    margin-left: 8px;
    align-items: center;
    justify-content: center;
    color: var(--ion-color-uxlight);
    font-family: var(--ux-font-worksans);
    font-size: var(--ux-fsize-10);
  }

  .title_container {
    flex-basis: 82%;
    display: flex;
    flex-direction: column;
  }
  padding: 12.5px 0px;
  &__content {
    border-radius: 15px 15px 0px 0px;
    padding: 16px 16px 12px 16px;
    background-size: cover !important;
    &__title_and_badge {
      display: inline-flex;
    }
    &__title_and_image {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__image_container {
        display: flex;
        align-items: center;
        padding-bottom: 16px;
      }
    }
    &__description {
      width: 100%;
      padding-top: 7px;
    }
    &__info {
      display: flex;
      align-items: center;
      padding-top: 7px;
      &__info {
        align-self: flex-end;
        color: #ffff;
      }
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    border-radius: 0px 0px 15px 15px;
    padding: 12px;
    justify-content: space-between;
    &__capital {
      align-items: center;
      display: flex;
      flex-direction: column;
      &__label {
        font-size: 12px;
      }
    }
  }
}

/*----- Styles for Brainy USDT  --------*/
.green-style {
  & .ipc__content {
    background: #e5fff0;
  }
  & .ipc__footer {
    background: #000000;
    &__button {
      & ion-button {
        width: 131px;
        --background: var(--ion-background-colorwhite);
        --color: var(--ion-color-uxprimary);
        --background-hover: var(--background);
      }
    }
  }
}
/* ------------------------------------ */

/*------ Styles for Brainy BTC  --------*/

.orange-style {
  & .ipc__content {
    background: #f8e5d6;
  }
  & .ipc__footer {
    background: #000000;
    &__button {
      & ion-button {
        width: 131px;
        --background: var(--ion-background-colorwhite);
        --color: var(--ion-color-uxprimary);
        --background-hover: var(--background);
      }
    }
  }
}
/* ------------------------------------ */

/*------ Styles for DeFi Index  --------*/

.light-blue-style {
  & .ipc__content {
    background: #edfbff;
  }
  & .ipc__footer {
    background: #000000;
    &__button {
      & ion-button {
        width: 131px;
        --background: var(--ion-background-colorwhite);
        --color: var(--ion-color-uxprimary);
        --background-hover: var(--background);
      }
    }
  }
}
/* ------------------------------------ */

/*------ Styles for Mary Index  --------*/

.purple-style {
  & .ipc__content {
    background: #f1e8ff;
  }
  & .ipc__footer {
    background: #000000;
    &__button {
      & ion-button {
        width: 131px;
        --background: var(--ion-background-colorwhite);
        --color: var(--ion-color-uxprimary);
        --background-hover: var(--background);
      }
    }
  }
}
/* ------------------------------------ */

/*------ Risk bar levels styles  -------*/
.risk-1 .bar:nth-child(n + 2) {
  opacity: 0.55;
}

.risk-2 .bar:nth-child(n + 3) {
  opacity: 0.55;
}

.risk-3 .bar:nth-child(n + 4) {
  opacity: 0.55;
}

.risk-4 .bar:nth-child(n + 5) {
  opacity: 0.55;
}

/* ------------------------------------ */

.sym_color {
  fill: blue !important ;
}
