.atd {
  &__header-date {
    margin-top: -5px;
    font-weight: 700 !important;
  }
  &__header-fund {
    margin-top: 10px;
    font-weight: 500 !important;
  }
  &__chart-card {
    margin-bottom: 25px;
  }
  &__performance-card {
    margin-bottom: 15px;
    &__content {
      &__item {
        .label {
          font-weight: var(--ux-fweight-extrabold);
        }
        ion-label {
          ion-text.regular {
            font-weight: var(--ux-fweight-regular);
          }
          ion-text.positive {
            font-size: var(--ux-fsize-10);
            color: #21dd62;
          }
          ion-text.negative {
            font-size: var(--ux-fsize-10);
            color: var(--ion-color-danger);
          }
        }
        ion-label:last-child {
          display: flex;
          justify-content: flex-end;
          color: var(--ion-color-success);
        }
      }
    }
  }
  &__config {
    &__title {
      margin-bottom: 8px;
    }
    &__content {
      &__item {
        &:first-child {
          ion-label {
            margin-top: 17px;
          }
        }
        &:last-child {
          ion-label {
            margin-bottom: 17px;
          }
        }
        ion-label {
          display: flex;
          flex-direction: column;
          margin-top: 9px;
          ion-text:first-child {
            font-family: var(--ux-font-lato);
            font-weight: 400;
            font-size: 12px;
            color: var(--ion-color-uxsemidark);
          }
          ion-text:last-child {
            margin-top: 4px;
            font-family: var(--ux-font-lato);
            font-weight: 400;
            font-size: 14px;
            color: var(--ion-color-dark);
          }
        }
        &__value_finalizado {
          color: var(--ion-color-danger) !important;
        }
        &__value_active {
          color: var(--ion-color-success) !important;
        }
      }
    }
  }
}

ion-list {
  --ion-background-color: var(--ion-color-uxlight);
  border-radius: 8px;
  ion-item {
    --inner-border-width: 0px;
  }
}
