:host {
  .ux-error {
    &__item {
      --min-height: 0px;
      --padding-start: 0px;
      margin-top: 8px;
      background: transparent;
      --background: transparent;
      &__message {
        margin: 0;
      }
    }
  }
  .ux-error.nonActiveError {
    display: none;
  }
  .activeError:first-of-type {
    display: none;
    color: blueviolet !important;
  }
}
