.atm {
  width: 100%;
  height: 100%;
  padding-right: 20px;
  padding-left: 20px;

  &__close {
    position: absolute;
    top: 2px;
    right: 0px;
  }

  &__title {
    text-align: center;
  }

  &__text {
    margin-top: 24px;
    line-height: 24px;
    &__list {
      padding-left: 20px;
    }
  }

  &__footer {
    &__button {
      display: flex;
      flex-direction: column;
      margin-top: 8px;
      height: 42px;
    }
  }

  div {
    width: 100%;
  }
}
