:host {
  // stylelint-disable-next-line selector-class-pattern
  .ux_toolbar {
    --border-width: 0;
    --border-color: transparent;
  }

  .title {
    color: white;
  }

  .wt {
    &__segments {
      ion-label:not(.active-tab) {
        font-size: var(--ux-fsize-20);
        color: var(--ion-color-uxsemidark);
      }

      ion-label.active-tab {
        font-size: var(--ux-fsize-20);
        color: var(--ion-color-uxprimary);
      }
    }

    &__title {
      color: white;
      font-weight: var(--ux-fweight-semibold);
    }

    &__amount {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      margin-top: 8px;
      margin-bottom: 25px;
    }

    &__subheader {
      margin-top: -30px;

      &__value {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 121px;
        width: 100%;
        background-color: var(--ion-color-uxprimary);

        &__title {
          color: red;
        }
      }
    }

    &__overlap_buttons {
      margin-top: -28px;
    }

    &__transactions-list {
      margin-top: 8px;

      &__label {
        margin-top: 24px;
        margin-bottom: 10px;
      }
    }

    &__button {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__balance {
      &__button {
        padding-top: 10px;
        width: 100%;
        display: flex;
        justify-content: flex-end;

        ion-button {
          --color: var(--ion-color-info);

          height: 24px;
          width: 24px;

          --padding-start: 0;
          --padding-end: 0;

          ion-icon {
            color: var(--ion-color-info);
            font-size: 24px;
          }
        }
      }
    }
  }

  .segment-content {
    border: 0.5px solid;
    border-color: var(--ion-color-uxmedium);
    box-shadow: 0 2px 8px rgb(74 117 247 / 5%);
    border-radius: 8px;
    overflow: hidden;
    background: var(--ion-color-uxlight);

    &.first-selected {
      border-top-left-radius: 0;
    }

    &.last-selected {
      border-top-right-radius: 0;
    }
  }

  .refresher {
    align-items: center;
    margin-top: 12px;
  }

  .header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
  }
}
