:host {
  .src {
    &__help_referral_link {
      width: 100%;
      margin-bottom: 5%;
      display: flex;
      justify-content: center;
    }

    &__referrals-list {
      margin-top: 8px;

      &__label {
        margin-top: 24px;
        margin-bottom: 10px;
      }

      &__accepted {
        margin-right: 10px;
        margin-top: 6px;
      }
    }
  }
}
