:host {
  .csc {
    background-color: var(--ion-color-uxlight);
    border-radius: 8px;
    margin: 16px;
    width: auto;
    height: auto;

    &__button {
      margin-left: auto;
      display: flex;
      align-items: center;
    }

    &__content {
      height: auto;
      display: flex;
      &__body {
        padding-top: 16px;
        padding-bottom: 16px;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
      }

      &__icon {
        margin-right: 18px;
        margin-left: 18px;
        display: flex;
        align-items: center;

        img {
          max-width: 25px;
        }
      }
    }
    ion-icon {
      color: var(--ion-color-infodark);
      font-size: var(--ux-fsize-22);
    }
  }
}
