:host {
  .type-toggle {
    text-align: right;
    margin-bottom: 0%;
    margin-top: 0%;
  }

  .eye-button {
    color: gray;
  }

  .ux_toolbar {
    --border-width: 0;
  }

  .refresher {
    align-items: center;
    margin-top: 12px;
  }

  .avatar {
    width: 24px;
    height: 24px;
    margin-top: 4px;
    margin-left: 5px;
    border: 2px solid white;
  }

  .header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .fl {
    &__funds {
      height: 100%;
      width: 100%;
      margin-top: 8px;
      color: #0000008a;

      &__card {
        &:nth-child(2) {
          margin-top: 8px;
        }

        margin-top: 25px;
      }
    }

    &__user-status {
      margin-top: -105px;
      &__subheader {
        height: 121px;
        width: 100%;
        background-color: var(--ion-color-uxprimary);
      }
    }
  }

  .notificationQty {
    font-size: 12px;
    background: red;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -6px;
    bottom: 3px;
    border: 1px solid #ff9100;
  }
}
