:host {
  .regular {
    font-weight: var(--ux-fweight-regular);
  }
  width: 100%;
  .fmc {
    margin-top: 8px;
    background-color: var(--ion-color-uxlight);
    border-radius: 8px;
    &__content {
      display: flex;
      &__left {
        flex: 1;
      }
      &__right {
        flex: 1;
        &__amount__up {
          color: var(--ion-color-uxsuccess);
          height: 10px;
        }
        &__amount__down {
          color: var(--ion-color-uxdanger);
          height: 10px;
        }
      }
    }
    .item {
      display: flex;
      flex-direction: column;
      &__value {
        margin-top: 4px;
      }
      &.second {
        margin-top: 18px;
      }
    }
  }
}
