:host {
    width: 100%;
    .qr-code-container {
        img {
          max-width: 150px;
          margin: auto;
          margin-bottom: 0px;
          border: 1px solid #00000015;
          border-radius: 4px;
        }
    }
    .da {
        background-color: var(--ion-color-uxlight);
        border-radius: 8px;
        &__main {
            .ux_text {
                min-height: 10px !important;
            }

            &__title {
                display: flex;
                align-content: center;
                font-size: 12px;
            }
            &__content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: -10px;
                &__title {
                    min-width: 90%;
                    max-width: 90%;
                }
                &__left {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: #000000DE;
                }
            }

            .list-divider {
                margin: 9px 0 9px 0;
                width: 100% !important;
            }
        }
    }
}