:host {
  .ni {
    &__body {
      --border-style: none;
      padding-top: 15px;
      padding-bottom: 15px;
      &__container-icon {
        height: 100%;
        margin-right: 16px;
        img {
          width: 30px;
        }
      }

      &__date {
        height: 100%;
        min-width: 40px;
        max-width: 40px;
        text-align: center;
        color: var(--ion-color-uxsemidark);
      }

      &__message {
        color: var(--ion-color-uxsemidark);
      }
    }
    hr {
      width: 100%;
      height: 1px;
      background-color: var(--ion-color-uxline);
    }
  }
}
