:host {
  .text {
    margin-top: 15px;
  }

  .next_button {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .component {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    background-color: var(--ion-background-colorwhite);
  }
}
