:host {
  .white {
    ion-item {
      --padding-start: 5px;
    }

    .input {
      text-align: center;
    }

    .uxselect {
      padding-top: 16px;
      &__label {
        margin-left: 12px;
      }

      &__item {
        --min-height: 48px;
        padding-left: 0;
        height: 100%;
        border: 1px solid var(--ion-color-uxsemidark);
        border-radius: 12px;
        --background: var(--ion-color-uxlight);
        --inner-border-width: 0;
        --highlight-background: none;
        font-weight: 400;
        color: var(--ion-color-primary);
        font-size: 14px;
        font-family: var(--ux-font-lato);

        &.item-has-focus {
          border: 1.5px solid var(--ion-color-uxsecondary);
          --background: #ffffff;
        }

        &__arrow_icon {
          width: 10px;
          margin-right: 10px;
        }
        &__logo {
          margin-left: 10px;
          height: 20px;
          width: auto;
        }
      }
    }
  }

  .classic {
    .uxselect {
      padding-top: 16px;
      &__label {
        font-family: var(--ux-font-lato);
        font-size: var(--ux-fsize-14);
        font-weight: var(--ux-fweight-extrabold);
        color: var(--ion-color-uxsemidark);
      }

      &__placeholder {
        color: #929192;
      }

      &__item {
        height: 100%;
        border: 1.5px solid #0000000a;
        border-radius: 7px;
        --background: #0000000a;
        --inner-border-width: 0;
        --highlight-background: none;

        font-weight: 400;
        color: #000000de;
        font-size: 14px;
        font-family: var(--ux-font-lato);

        &.item-has-focus {
          border: 1.5px solid var(--ion-color-uxsecondary);
          --background: #ffffff;
        }

        &__arrow_icon {
          width: 10px;
          margin-right: 10px;
        }
      }
    }
  }
}
