:host {
  .it {
    &__background {
      background-color: var(--ion-color-uxprimary);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      height: 86px;
    }

    &__card_container {
      margin-top: -76px;

      &__card {
        padding: 16px 14.5px 22px;

        &__options {
          margin-top: 16px;
        }

        &__img {
          display: flex;
          justify-content: center;
        }

        &__text {
          color: var(--ion-color-uxprimary);
          padding-top: 16px;
        }
      }
    }

    &__button_container {
      display: flex;
      justify-content: center;
      margin-top: 24px;
      padding-bottom: 16px;
      margin-bottom: 20px;
      ion-button {
        height: 16.42px;
      }
    }
  }

  .no-border {
    --border-width: 0;
  }
}
