:host {
  width: 100%;
  .cir {
    background-color: #363e48;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--ion-background-color);
    &__content {
      margin-top: 16px;
      font-weight: var(--ux-fweight-semibold);
    }

    &__action {
      width: 100%;
      margin-top: 16px;
    }
  }
}
