:host {
  width: 100%;

  .fc {
    background-color: var(--ion-color-uxlight);
    border-radius: 8px;
    cursor: pointer;

    &__main {
      border-bottom: 1px solid #0000000a;

      &__title {
        color: black;

        &__strategy {
          float: right;
        }
      }

      &__title-finalized {
        color: #00000061;
      }

      &__content {
        display: flex;
        justify-content: space-between;
        padding-top: 2px;

        &__left {
          &__balance {
            color: black;
          }

          &__balance-finalized {
            color: #00000061;
          }
        }

        &__right {
          &__performance {
            color: black;
          }

          &__performance-finalized {
            color: #00000061;
          }

          &__amount {
            &__up {
              color: var(--ion-color-uxsuccess);
              height: 10px;
              padding-bottom: 3px;
            }

            &__down {
              color: var(--ion-color-uxdanger);
              height: 10px;
              padding-bottom: 3px;
            }

            &__up-finalized {
              color: #00000061;
              height: 10px;
              padding-bottom: 3px;
            }

            &__down-finalized {
              color: #00000061;
              height: 10px;
              padding-bottom: 3px;
            }
          }
        }

        &__right__flex {
          display: flex;
          justify-content: flex-end;
        }
      }
    }

    &__footer {
      height: 44px;
      display: flex;
      justify-content: space-between;

      &__left {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }

      &__right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
      }

      &__view_fund {
        font-weight: var(--ux-fweight-semibold);

        ion-icon {
          height: 10px;
        }
      }

      &__renovate_fund {
        font-weight: var(--ux-fweight-semibold);

        ion-icon {
          height: 10px;
        }
      }

      &__finalized-label {
        padding-left: 16px;
        color: var(--ion-color-uxdanger);
      }
    }
  }
}
