:host {
  .ux_checkbox_container {
    width: fit-content;
    margin-top: 10px;

    &__item {
      --padding-start: 2px;
      --border-color: transparent;
      --background-activated: transparent;
      --min-height: 24px;
      --min-width: 24px;
    }
  }

  ion-checkbox {
    --border-radius: 15%;
    --border-width: 2px;
    --border-style: solid;
    --border-color: var(--ion-color-info);
    --background: var(--ion-background-colorwhite);
    --size: 18px;
    --checkmark-width: 2px;
    margin-right: 12px;
  }
}
