:host {
  .rpnw {
    --ion-background-color: var(--ion-color-uxprimary-contrast);
    background: var(--ion-color-uxprimary-contrast);
    &__img_container {
      margin-top: 36px;
      display: flex;
      justify-content: center;
      &__img {
        width: 58%;
        max-width: 300px;
      }
    }

    &__content {
      text-align: center;
      .text1 {
        margin-top: 24px;
        margin-bottom: 34px;
      }
      .text2 {
        margin-bottom: 16px;
      }

      .ux_button {
        margin-top: 24px;
        margin-bottom: 10px;
      }
    }

    &__footer {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
      text-decoration: underline;
    }
  }
}
