:host {
  font-family: var(--ux-font-gilroy);

  .wad {
    &__title {
      display: flex;
      align-items: center;

      &__img {
        width: 33px;
        height: 33px;
        margin-right: 16px;
      }
    }

    &__asset_amount {
      background-color: var(--ion-color-uxlight);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      padding: 15px 0 5px 0;

      &__original {
        display: flex;
        flex-direction: row;
      }

      &__usd {
        padding: 5px 0 15px 0;
      }
    }

    &__transaction {
      margin-top: 24px;
      font-size: 12px;
      font-weight: 600;
      &__wallet-transaction-card {
        margin-top: 8px;
      }
    }
  }
}
