:host {
  .wtci {
    background-color: var(--ion-color-uxlight);
    display: flex;
    align-items: center;
    border-radius: 8px;
    &__img {
      height: 33px;
    }
    &__content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin-left: 16px;

      &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
