:host {
  .badge {
    margin-left: 16px;
    color: var(--ion-color-successdark);
    margin-bottom: 3px;
    margin-top: 10px;

    --background: var(--ion-color-successlight);
  }

  .investor-cards {
    display: flex;
    margin-top: 8px;

    .vertical-card {
      flex-basis: 50%;
      background: var(--ion-color-uxlight);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 5px;
      border-radius: 8px;
      border: 0.5px solid var(--ion-color-uxline);

      .link {
        text-align: left;
        line-height: 16.8px;
        font-weight: var(--ux-fweight-semibold);
        text-decoration: none;

        ion-icon {
          font-weight: var(--ux-fweight-semibold);
          margin-left: 8px;
        }
      }
    }
  }

  .take-test-card {
    margin-right: 8px;

    &__title {
      text-align: start;
      margin-left: 16px;
      line-height: 19.6px;
      white-space: pre-wrap;
    }

    &__image {
      margin-left: 16px;
    }
  }

  .options-test-card {
    display: flex;

    &__content {
      width: 95%;
      height: 100%;

      &__title {
        margin-left: 16px;
        line-height: 19.6px;

        ion-text {
          white-space: pre-wrap;
        }
      }
    }

    &__image {
      margin-left: 16px;
    }
  }
}
