:host {
  .toi {
    border: 0.5px solid var(--ion-color-uxline);
    ion-icon {
      color: var(--ion-color-info);
      font-size: var(--ux-fsize-22);
    }
    background-color: var(--ion-color-uxlight);
    border-radius: 8px;
    margin: 8px 16px 0 16px;
    width: auto;
    height: auto;

    &__button {
      margin-left: auto;
      display: flex;
      align-items: center;
    }

    &__content {
      height: auto;
      display: flex;
      &__body {
        margin-left: 16px;
        &__title {
          margin-top: 12px;
          display: flex;
          align-items: center;
        }
        &__description {
          margin-top: 4px;
          margin-bottom: 12px;
          display: flex;
          align-items: center;
        }
      }
      &__icon {
        margin-right: 18px;
        margin-left: 18px;
        display: flex;
        align-items: center;
      }
    }
  }
}
